
/*COLOUR PALETTE*/


/*FONTS*/

@font-face {
    font-family: 'droidSans';
    src:url(fonts/DroidSans.ttf);  
}
@font-face {

    font-family: 'droidSansBold';
    src:url(fonts/DroidSans-Bold.ttf);
  }







/*SIDEBARS*/

.leftSide {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0; 
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    float:left; 
    display:inline;
  }

  .rightSide {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0; 
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    float:right; 
    display:inline;
  }




/* .bannerLeft {
    align:left;
    display: inline-block;
} */

/* .bannerRight {
    align:right;
    display: inline-block;
} */

.logo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.worm {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:80px;
  }

.main {
    margin-left: 160px;
    margin-right: 160px;
    padding: 0px 10px;
     float:right;  
    display:inline;
  }

body {
    font-family:"droidSans";
    background-color: #a5face;
    color: darkcyan;
    font-size:12pt;
}


/*H TAGS*/
h1 {
    font-family:"droidSansBold";
    font-size:1.4em;
}

h2 {
    font-family:"droidSansBold";
    font-size:1.2em;
    color:darkblue;
}



/*menuBar*/
.menu {
    display: inline-block;
}



#menuList {
    overflow: hidden;
    list-style-type: none;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: aliceblue;
    border-style: solid;
    border-width: 2px;
    border-color: aliceblue;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 6px;
    padding: 6px;
}


li a {
    list-style-type: none;
    float: left;
    /*this makes things next to each other*/
    border-right: solid;
    border-color: #72c4a4;
    display: block;
    color: darkcyan;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #72c4a4;
    color: aliceblue;
}

li a:active {
    color: deeppink;
}


.footer {
    padding-top:0px;
}



