
/*FONTS*/

@font-face {
  font-family: 'droidSans';
  src: url(fonts/DroidSans.ttf);
}

@font-face {
  font-family: 'droidSansBold';
  src: url(fonts/DroidSans-Bold.ttf);
}

/*BODY*/

body {
  font-family: "droidSans";
  background-color: #FBF1F0;
  color: #782D16;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

/*H TAGS*/

h1 {
  font-family: "droidSansBold";
  font-size: 2em;
  color: #A3682A;
  padding-top: 20px;
}

h2 {
  font-family: "droidSansBold";
  font-size: 1.2em;
  color: #A3682A;
}

/*HOMEPAGE BANNER*/

.topBar {
  background-color: rgb(251, 241, 240, 0.8);
  padding-top: 5px;
  padding-bottom: 35px;
  padding-right: 30px;
  margin-top: 0px;
  margin-left: -30px;
  width: 100%;
  position: fixed;
  z-index: +1;
}

/* MENU */

#menuList {
  overflow: hidden;
  list-style-type: none;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  position: fixed;
  z-index: +2;
}

li a {
  font-family: "droidSans";
  float: right;
  display: block;
  margin-right: 60px;
  text-decoration: none;
  color: #B54321;
}

li a:hover {
  color: #765c49;
}

.banner {
  position: relative;
  display: grid;
  top: 0px;
}

.soil,
.logo {
  grid-column: 1;
  grid-row: 1;
}

.soil {
  max-width: 100%;
  position: relative;
  margin-left: 0px;
  margin-top: -60px;
  z-index: -2;
}

.logo {
  width: 200px;
  display: relative;
  margin-top: 60px;
  margin-left: auto;
  margin-right: 40px;
  z-index: -1;
}

/*GRID CONTENT HOMEPAGE*/

.gridContainerHomepage {
  display: grid;
  gap: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

.homepageText {
  grid-column: 1;
  grid-row: 1;
  width:100%;
}

.homepageImages {
  grid-column: 2;
  grid-row: 1;
  width:100%;
  padding-left: 20px;
}

/*GRID CONTENT CONTACT*/

#contact {
  background-image: url("assets/soilBG.png");
  background-size: 100%;
  background-repeat: repeat-y;
}


.gridContainerContact {
  display: grid;
  grid-template-columns: 25%, 50%, 25%;
  margin-top: 20px;
}

.bugColLeft {
  grid-column: 1;
  grid-row: 1;
}

.form {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  background-color: rgb(251, 241, 240, 1);
  border-radius: 20px;
}

.bugColRight {
  grid-column: 3;
  grid-row: 1;
}

.bugL, .bugR {
  width: 40px;
  margin:10px
}

.bugL {
  float:left;
}

.bugR {
  float:right;
}

/* FOOTER */


footer {
  padding-top: 100px;
}